<footer>
    <div class="contenedor-footer">
        <div class="logo-footer">
            <a href="/">
                <img src="/images/logo.jpg" alt="logoHumulus" id="logo">
            </a>
        </div>
        <div class="texto-footer">
            <div class="icono-texto">
                <!-- <i class="fa-solid fa-location-dot"></i> -->
                <img src="/images/map-pin-2-fill.svg" alt="icono instagram" class="iconos-img">
                <p>Perito Moreno 261, Puerto Iguazu, Misiones</p>
            </div>
            <div class="icono-texto">
                <!-- <i class="fa-solid fa-phone"></i> -->
                <img src="/images/phone-fill.svg" alt="icono instagram" class="iconos-img">
                <p>11-2222-2222</p>
            </div>
            <div class="icono-texto">
                <!-- <i class="fa-sharp fa-solid fa-envelope"></i> -->
                <img src="/images/mail-fill.svg" alt="icono instagram" class="iconos-img">
                <p>cerveceriahumulus@gmail.com</p>
            </div>
        </div>
        <div class="contenedor-iconos">
            <a href="https://www.instagram.com/cerveceriahumulus/" target="_blank">
            <!-- <i class="fa-brands fa-instagram"></i> -->
        <img src="/images/instagram-fill.svg" alt="icono instagram" class="iconos-img">
        </a>
            <a href="https://www.facebook.com/profile.php?id=100030778337647" target="_blank">
            <img src="/images/facebook-circle-fill.svg" alt="icono facebook">
                <!-- <i class="fa-brands fa-facebook"></i> -->
        </a>
        <a href="https://wa.me/5491140749999" target="_blank">
            <img src="/images/whatsapp-fill (1).svg" alt="icono whatsapp">
            <!-- <i class="fa-brands fa-whatsapp"></i> -->
        </a>
        </div>

    </div>
</footer>