<header>
  <div class="header-container">
    <!--Icono-->
    <a href="/" class="logo">
      <img src="/images/logo.jpg" alt="logoHumulus" id="logo">
      <!-- <p> HUMULUS </p> -->
    </a>
    <!--NavBar-->
    <nav class="nav">
      <ul>
        <li><a href="/" id="inicio" class="">Inicio</a></li>
        <li class="navActive"><a href="/quienesSomos" id="quienesSomos" class="quienesSomos" >Quienes Somos</a></li>
        <li><a href="/menu" id="menu" class="">Menu</a></li>
        <li><a href="/promociones" id="promociones" class="">Promociones</a></li>
        <li><a href="/contactenos" id="contactenos" class="">Contactanos</a></li>
      </ul>
    </nav>
    <!-- Menú hamburguesa -->
    <i class="fa-solid fa-bars" id="menuOpen"></i>
    <i class="fa-solid fa-close" id="menuClose"></i>
  </div>
</header>