<!DOCTYPE html>
<html lang="en">

<!-- Aqui va el head -->
<%- include('./partials/head') %>
    <body>
        <!-- Aqui va el header -->
        <%- include('./partials/header') %>
        <!-- Aqui va el main -->
        <h1 class="qs-h1">Quienes Somos</h1>
        <article class="qs-card1">
            <img src="/images/carrusel01.jpg" alt="qs-imagen1">
            <p>Humulus Cervecería nace en diciembre de 2017 con la visión de un grupo de jóvenes emprendedores que
                buscaban
                ofrecer un espacio mágico en Puerto Iguazú. Un lugar que combinara características unicas de la ciudad,
                excelente música y entretenimiento, cervezas artesanales de calidad y exquisita comida.</p>
        </article>
        <article class="qs-card">
            <img src="/images/qs2.jpg" alt="qs-imagen2">
            <p>Contamos con un parque al aire libre de 600 m2, shows en vivo todos los días, pantalla gigante, En el año
                2022 inauguramos un nuevo espacio, B-Side, pensado en las familias, cuenta con un castillo y tobogan
                gigante
                para que la diversión los más pequeños. </p>
        </article>
        <article class="qs-card">
            <img src="/images/qs3.jpg" alt="qs-imagen3">
            <p> Pantalla gigante de 8x5 metros para disfrutar eventos musicales y deportivos.</p>
        </article>

       
    <%- include('./partials/footer') %>

    <script src="js/qs-script.js"></script>
    </body>

</html>

<!---->