<header>
  <article id="header-index">
    <div class="header-container">
      <!--Icono-->
      <a href="/">
        <img src="/images/logo.jpg" alt="logoHumulus" id="logo">
      </a>
      <!--NavBar-->
      <nav class="nav">
        <ul>
          <li><a href="/quienesSomos">Quienes Somos</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Promociones</a></li>
          <li><a href="/ubicacion">Ubicacion</a></li>
          <li><a href="/contactenos">Contactanos</a></li>
        </ul>
      </nav>
      <!-- Menú hamburguesa -->
      <i class="fa-solid fa-bars" id="menuOpen"></i>
      <i class="fa-solid fa-close" id="menuClose"></i>
    </div>
    <!-- Texto -->
    <div class="header-text">
      <p class="main-text">UN ESPACIO PARA PODER REENCONTRARNOS</p>
      <p class="secondary-text">Sin lugar a dudas, el mejor invento en la historia de la humanidad es la cerveza. Bueno, reconozco que la rueda también es un buen invento pero no va tan bien con la pizza.</p>
    </div>
  </article>
</header>

