<div class="nav-bar">
  <!--Icono-->
  <a href="/quienesSomos">
    <img src="/images/logo.jpg" alt="logoHumulus" id="logo">
  </a>
  <!--NavBar-->
  <nav id="nav" class="noActive">
    <ul>
      <li><a href="/quienesSomos" id="quienesSomos">Quienes Somos</a></li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Promociones</a></li>
      <li><a href="#">Ubicacion</a></li>
      <li><a href="#">Contactanos</a></li>
    </ul>
  </nav>
  <!-- Menú hamburguesa -->
  <i class="fa-solid fa-bars" id="menuOpen"></i>
  <i class="fa-solid fa-close" id="menuClose"></i>
</div>